/* website specific css */

h3, h4 {
    color: #CC3300;
}
h3 {
    margin-top: 40px;
}
h4 {
    margin-top: 1.5em;
    font-size: 1.5em;
}
a {
    color: SteelBlue;
    text-decoration-line: none;
}
.img-right-margin {
    margin-right: 20px;
}
.orange {
    color: #FF6600;
}
.darker-orange {
    color: #E65C00;
}
.brown-orange {
    color: #CC3300;
}
.w3-hover-text-deep-orange {
    color: #CC3300;
}
.navbar-brand {
    font-family: Georgia, "Times New Roman", serif;
    color: gray;
    font-size: 20pt;
    margin-right: 1em;
    padding-bottom: 0;
}
.navbar-brand:hover, .navbar-brand:focus {
    color: black;
}
.active a {
    color: #CC3300;
}

.tagline {
    font-size: 1.2em;
    color: black;
}
.main {
    margin-top: 60px;
}
.mushy {
    background-color: #EBF0F5;
    padding: 26px 60px 90px 60px;
    margin-top: 20px;
}
.padding-for-nav {
    margin-top: 68px;
    width: 100%;
    margin-bottom: 50px;
}
.margin-bottom-extra {
    margin-bottom: 50px;
}
.bold {
    font-weight: bold;
}
.padding-bottom-zero {
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.myco-background {
    background-image: url("mycorrhizal-cropped-4.jpg");
    background-repeat: no-repeat;
}
.columns-margins {
    margin-left: 8%;
    margin-right: 8%;
}
.footer-link {
    color: white;
    text-decoration-line: underline;
}
.margin-top-extra {
    margin-top: 55px;
}
.links {
    background-color: whitesmoke;
}
